[submodule "third-party/aer-cpp"]
	path = third-party/aer-cpp
	url = https://github.com/MiguiLeal8/qiskit-aer.git
	branch = bugfix/SYCLqpu
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
